<!DOCTYPE html>
<html>
<head>
	<title> Online Shopping Portal </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="imgs/logo.png">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/checkout.css">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
</head>
<body>

	<header>
		<div class="hleft">
			<i class="fa fa-shopping-cart" style="font-size:120px;color:#056676"></i>
		</div>
		<div class="hright">
	    	<h1> Shopping Cart</h1>
			<h3> Hop n Shop - Online Shopping Portal </h3>
		</div>
		<div class="hrest">
			<marquee> Upto 45% off on electronics from 10th November to 13th November &nbsp; * &nbsp; Latest Clothing Fashion Available for Diwali &nbsp; * &nbsp; Over 10,000 new E-books available for you!</marquee>
		</div>
	</header>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>
		    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav">
		        <li><a href="index">Home <span class="sr-only">(current)</span></a></li>
		        <li><a href="electronics">Electronics</a></li>
			    <li><a href="clothing">Clothing</a></li>
		        <li><a href="ebooks">E-books</a></li>
	        </ul>

		    <ul class="nav navbar-nav navbar-right">
			    <li><a href="cart" class="active"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
			    <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		 	</ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="abc"></div>

	<div class="screen" id="screen">
	<!-- Three columns -->
	<div class="row">
	  <div class="column cod" onclick="openTab('b1');">
	    	&#128184; Cash On Delivery
	  </div>
	  <div class="column card" onclick="openTab('b2');">
	    	&#128179; Credit Card/Debit Cart
	  </div>

	<!-- Full-width columns: (hidden by default) -->
	<div id="b1" class="containerTab">
	  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
	  <h2>Box 1</h2>
	  <p>Hop n Shop cares about your safety, this site is completely secure for your payment activities.<br> Happy Shopping!</p>
	  <p> 
	  	<table align="center" class="bill">
	  		<tr>
	  			<td> Subtotal : </td>
	  			<td> &#8377;<%= subtotal %> </td>
	  		</tr>
	  		<tr> 
	  			<td> Delivery charges : </td>
	  			<td> &#8377; 100 </td>
	  		</tr>
	  		<tr>
	  			<td> GST : </td>
	  			<td> &#8377; 30 </td>
	  		<tr>
	  			<th> Total : </th>
	  			<th> &#8377; <%= cod %> </th>
	  		</tr>
	  	</table>
	  <p> 
	  <p> <center><form action="/checkout" method="POST"><button class="placeorder" onclick="placed()" type="submit" value="<%= email %>" name="clear">Place Order</button></form></center>
	  	<div class="back b1"> &#8617;  <a href="cart.html"> Back to Cart </a></div>
	</div>

	<div id="b2" class="containerTab">
	  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
	  <h2>Box 2</h2>
	  <p>Hop n Shop cares about your safety, this site is completely secure for your payment activities.<br> Happy Shopping!</p>
	  <p> 
	  	<table align="center" class="bill b2">
	  		<tr>
	  			<td> Subtotal : </td>
	  			<td> &#8377; <%= subtotal %>  </td>
	  		</tr>
	  		<tr> 
	  			<td> Delivery charges : </td>
	  			<td style="color: green"> Free! </td>
	  		</tr>
	  		<tr>
	  			<td> GST : </td>
	  			<td> &#8377; 30 </td>
	  		<tr>
	  			<th> Total : </th>
	  			<th> &#8377; <%= card %>  </th>
	  		</tr>
	  	</table>
	  </p> 
	  <p> <form class="carddetails">
	  		<label for='name'> Name on card </label>
	  		<input type='text' id='name' name='name' placeholder="Name on card" required> <br><br>
	  		<label for='cardno'> Card Number </label>
	  		<input type='number' id='cardno' name='cardno' pattern="[0-9]{16}" required placeholder="Card number"> <br><br>
	  		<label for="expirymm"> Expiry MM </label>
	  		<input type="number" id="expirymm" name="expirymm" min="1" max="12" required placeholder="Exipry MM"> <br><br>
	  		<label for="expiryyyyy"> Expiry YYYY </label>
	  		<input type="number" id="expiryyyyy" name="expiryyyyy" min="2020" max="2040" required placeholder="Exipry YYYY"> <br><br>
	  	</form>
	  </p>
	  <p> <form action="/checkout" method="POST"><center><button class="placeorder p2" onclick="placed()" type="submit" value="<%= email %>" name="clear">Place Order</button></center></form>
	  	<div class="back"> &#8617;  <a href="cart"> Back to Cart </a></div>
		</div>
		</div> 
	</div>

	<div class="orderplaced" id="orderplaced">
		<h3> &#10004; Order Placed </h3><br>
		<h2> Thank you for shopping at Hop n Shop! </h2><br>
		<h4> Hop n Shop in on your way to deliver your handpicked products! <br>Till then, keep browsing and shopping! </h4>
	</div>

	<footer>
		<section class="ft" id="shreya">
			<h2> Shreya Sengar </h2>
			<p> 201800510 <br> Roll. No. 41 <br> Section: C </p>
		</section>
		<section class="ft" id="jaskaran">
			<h2> Jaskaran Reen </h2>
			<p> 201800536 <br> Roll. No. 44 <br> Section: C </p>
		</section>
		<section class="ft" id="prajakta">
			<h2> Prajakta Ghorpade </h2>
			<p> 201800541 <br> Roll. No. 45 <br> Section: C </p>
		</section>
		<section class="ft" id="lush">
			<h2> Lush Gulati </h2>
			<p> 201800609 <br> Roll. No. 55 <br> Section: C </p>
		</section>
	</footer>
	<script>
	function openTab(tabName) {
	  var i, x;
	  x = document.getElementsByClassName("containerTab");
	  for (i = 0; i < x.length; i++) {
	    x[i].style.display = "none";
	  }
	  document.getElementById(tabName).style.display = "block";
	}
	function placed()
	{
		document.getElementById('screen').style.display = "none";
		document.getElementById('orderplaced').style.display = "block";
	}
	</script>
</body>
</html>